<template>
    <div class="as">
        <h2>Input</h2>
        <h3>Input Default</h3>
        <ace-input
            label="First Name" 
            name="firstname" 
        ></ace-input>
        <h3>Input Default With Value</h3>
        <ace-input
            label="Last Name" 
            name="lastname" 
            value="Zanko"
        ></ace-input>
        <h3>Input Required</h3>
        <ace-input
            label="Surname" 
            name="surname"
            value="Vladimirovich"
            required
            required-message="Please, fill this value"
        ></ace-input>
        <h3>Input Required Min Length</h3>
        <ace-input
            label="Company Name" 
            name="companyname"
            required
            required-message="Please, fill this value"
            min-length="4"
            min-length-message="Error, min length 4"
        ></ace-input>
        <h3>Input Required Max Length Only</h3>
        <ace-input
            label="Website" 
            name="website"
            required
            required-message="Please, fill this value"
            max-length="15"
        ></ace-input>
        <h3>Input Required Max Length With Message</h3>
        <ace-input
            label="Website" 
            name="website"
            required
            required-message="Please, fill this value"
            max-length="15"
            max-length-message="Error, max length 15"
        ></ace-input>
        <h3>Input Required With Regx</h3>
        <ace-input
            label="Website" 
            name="website"
            required
            required-message="Please, fill this value"
            regx="^([a-zа-яё]+)$"
            regx-message="Only letters" 
        ></ace-input>
        <h3>Input Required With Icon</h3>
        <ace-input
            label="Website" 
            name="website"
            required
            required-message="Please, fill this value"
            icon-show
        ></ace-input>
        <h3>Input Disabled</h3>
        <ace-input
            label="Email" 
            name="email"
            required
            disabled
        ></ace-input>
        <h3>Input Disabled With Value</h3>
        <ace-input
            label="Phone" 
            name="phone"
            value="+375295558386"
            disabled
        ></ace-input>
        <hr>
       <h2>Select</h2>
        <h3>Select Default</h3>
        <ace-select
            name="colors"
            label="Colors"
            options={opts}>
        </ace-select>
        <h3>Select Required</h3>
        <ace-select
            name="colors"
            label="Colors"
            required
            required-message="Please, fill this value"
            options={opts}>
        </ace-select>
        <h3>Select Required With Icon</h3>
        <ace-select
            name="colors"
            label="Colors"
            icon-show
            required
            required-message="Please, fill this value"
            options={opts}>
        </ace-select>
        <h3>Select Disabled</h3>
        <ace-select
            name="colors"
            label="Colors"
            disabled
            options={opts}>
        </ace-select>
        <h3>Select Disabled Required</h3>
        <ace-select
            name="colors"
            label="Colors"
            disabled
            required
            value="opt_1"
            options={opts}>
        </ace-select> 
        <h2>Checkbox</h2>
        <h3>Checkbox Default</h3>
        <ace-checkbox
            name="agreement"
            label="I agree with, sit amet consectetur adipisicing elit <a href='https://lightning-soft.com'>terms and conditions</a> Ad placeat <b>eius</b> cupiditate, necessitatibus itaque quis."
        >
        </ace-checkbox>
        <h3>Checkbox Required</h3>
        <ace-checkbox
            name="agreement"
            required
            checked="off"
            label="I agree with, sit amet consectetur adipisicing elit <a href='https://lightning-soft.com'>terms and conditions</a> Ad placeat <b>eius</b> cupiditate, necessitatibus itaque quis."
            required-message="Error required field"
        >
        </ace-checkbox>
        <h3>Checkbox Required With Value</h3>
        <ace-checkbox
            name="agreement"
            required
            checked="on"
            label="I agree with, sit amet consectetur adipisicing elit <a href='https://lightning-soft.com'>terms and conditions</a> Ad placeat <b>eius</b> cupiditate, necessitatibus itaque quis."
            required-message="Error required field"
        >
        </ace-checkbox>
        <h3>Checkbox Required And Disabled</h3>
        <ace-checkbox
            name="agreement"
            required
            disabled
            label="I agree with, sit amet consectetur adipisicing elit <a href='https://lightning-soft.com'>terms and conditions</a> Ad placeat <b>eius</b> cupiditate, necessitatibus itaque quis."
            required-message="Error required field"
        >
        </ace-checkbox>
        <h3>Checkbox Required And Disabled With Value</h3>
        <ace-checkbox
            name="agreement"
            required
            disabled
            checked="on"
            label="I agree with, sit amet consectetur adipisicing elit <a href='https://lightning-soft.com'>terms and conditions</a> Ad placeat <b>eius</b> cupiditate, necessitatibus itaque quis."
            required-message="Error required field"
        >
        </ace-checkbox>
        <h3>Radio</h3>
        <h2>Radio Default</h2>
        <ace-radio 
            options={opts}
            label="City"
            name="city"
        ></ace-radio>
        <h2>Radio Required</h2>
        <ace-radio 
            options={opts}
            label="City"
            name="city"
            required
            required-message="Error required field"
        ></ace-radio>
        <h2>Radio Required With Value</h2>
        <ace-radio 
            options={opts}
            label="City"
            name="city"
            value="opt_2"
            required
            required-message="Error required field"
        ></ace-radio>
        <h2>Radio Required With Value And Disabled</h2>
        <ace-radio 
            options={opts}
            label="City"
            name="city"
            value="opt_2"
            required
            required-message="Error required field"
            disabled
        ></ace-radio>
        <h2>Radio Required With Value And Vertical</h2>
        <ace-radio 
            options={opts}
            label="City"
            name="city"
            value="opt_2"
            required
            required-message="Error required field"
            vertical
        ></ace-radio>
    
        <h2>Button</h2>
        <h3>Button Base</h3>
        <ace-button label="Continue"></ace-button>
        <h3>Button Base Disabled</h3>
        <ace-button label="Continue" disabled></ace-button>
        <h3>Button Primary</h3>
        <ace-button label="Continue" variant="primary"></ace-button>
        <h3>Button Primary Disabled</h3>
        <ace-button label="Continue" variant="primary" disabled></ace-button>        
    </div>
</template>