@import './../../../common/mixins_ace';
/* theme */

$ACE_SELECT_OPTIN_BR_COLOR: #F6F6F6;
$ACE_SELECT_OPTIN_COLOR: #4D575C;

.ace-select-option {

    transition: background-color .3s;
    padding: 8px;
    color: $ACE_SELECT_OPTIN_COLOR;
    
    &:hover, &_selected{
        background-color: $ACE_SELECT_OPTIN_BR_COLOR;
    }
}