@import './../../../common/mixins_ace';
/* theme */
$ACE_INPUT_REQUIRED_BG_COLOR: #AF1D2B;
$ACE_INPUT_MESSAGE_ERROR_COLOR: #AF1D2B;
$ACE_INPUT_ERROR_BR_COLOR: #AF1D2B;
$ACE_CHECKBOX_LABEL_DISABLED_COLOR: #A7ACAF;
$ACE_CHECKBOX_LABEL_COLOR: #4D575C;
$ACE_CHECKBOX_LABEL_LINKS_COLOR: #3782C8;
$ACE_INPUT_DISABLED_REQUIRED_BG_COLOR: #CD747D;
$ACE_INPUT_PX: 16px;

.ace-checkbox{
    &__container{
        display: flex;
        cursor: pointer;
    }

    &__icon-box{
        flex-shrink: 0;
        display: flex;
        position: relative;
    }

    &__icon{
        width: 20px;
        height: 20px;
    }

    &__required-place{
        position: relative;
        flex-shrink: 0;
        height: 100%;
        width: $ACE_INPUT_PX;
    }

    &__required{
        position: absolute;
        top: 3px;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: $ACE_INPUT_REQUIRED_BG_COLOR;
    }

    &__message{
        padding-left: 36px;
        min-height: 16px;
        line-height: 0px;
        opacity: 0;
        transition: color .3s, opacity .3s, line-height .2s;
        font-size: 10px;
    }

    &__label{
        font-size: 16px;
        line-height: 1.25;
        color: $ACE_CHECKBOX_LABEL_COLOR;

        a{
            color: $ACE_CHECKBOX_LABEL_LINKS_COLOR;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }

            &:visited{
                color: $ACE_CHECKBOX_LABEL_LINKS_COLOR;
            }
        }

        b{
            font-weight: 600;
        }
    }

    &_disabled{
        &,
        .ace-checkbox__label, 
        .ace-checkbox__required-place,
        .ace-checkbox__icon-box{
            cursor: not-allowed;
            color: $ACE_CHECKBOX_LABEL_DISABLED_COLOR;
        }

        .ace-checkbox__required{
            background-color: $ACE_INPUT_DISABLED_REQUIRED_BG_COLOR;
        }
    }

    &_error{
        .ace-checkbox__message{
            line-height: 16px;
            opacity: 1;
            top: 0px;
            color:$ACE_INPUT_MESSAGE_ERROR_COLOR;
        }
        border-color: $ACE_INPUT_ERROR_BR_COLOR;
    }
}